.vs/cutontheruler/FileContentIndex/e47cb5b6-a14c-49a4-99c2-e6e0ff84b5ee.vsidx
.vs/cutontheruler/FileContentIndex/ee127c41-cace-4f2b-bb2b-672973b8ae1b.vsidx
.vs/cutontheruler/FileContentIndex/5332ff3a-d5aa-4f3a-9c3f-d72a25de2d04.vsidx
